/*@font-face {
    font-family: 'SongMyung';
    src: url('./fonts/SongMyung-Regular.ttf')  format('truetype');
  }
*/
html {
    font-size: 100%;
    /*font-family: 'SongMyung';*/
    background-color: #55ACEE;
  }

body {
    color: #66757F;
    background-color: #E1E8ED;
    padding: 2%;
    margin: 2.5% 5%;
    border: 5px solid #292F33;
    border-top-left-radius: 200px 15px;
    border-top-right-radius: 15px 220px;
    border-bottom-right-radius: 212px 15px;
    border-bottom-left-radius:15px 220px;
    vertical-align: middle;
  }



@media screen and (min-width: 901px) {

    .logo {
      width: 50%;
      height: 50%;
      margin: 0px 0px 0px 10%;
    }

    h1 {
        color: #292F33;
        font-size: 30px;
      }

    p {
        color: #66757F;
        font-size: 20px;
    }
    .linkas {
        color: #292F33;
        font-size: 30px;
        text-decoration: none;
        font-weight: bold;
        margin: 20px;
    }

    .linkas:hover {
        color: #55ACEE;
        font-size: 30px;
        text-decoration: none;
        font-weight: bold;
        margin: 20px;
        cursor: pointer;
    }
  }

@media screen and (max-width: 900px) {

    .logo {
      width: 100%;
      height: 100%;
    }

    h1 {
        color: #292F33;
        font-size: 50px;
      }
      
    p {
        color: #66757F;
        font-size: 20px;
    }

    .linkas {
        color: #292F33;
        font-size: 30px;
        text-decoration: none;
        font-weight: bold;
        margin: 20px;
    }
        
    .linkas:hover {
        color: #55ACEE;
        font-size: 30px;
        text-decoration: none;
        font-weight: bold;
        margin: 20px;
        cursor: pointer;
    }
  }

.inputContainer{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;  
  grid-gap: 10px;  
  align-items: center;
  margin-top: 50px;
}

button{
    width: 100px;
    margin-top: 20px;
}

.linkContainer{
  display: flex;
  width: 50%;
  margin: auto;
  white-space: nowrap;
}